* {
    align-content: center;
}

body{
    background-color: pink;
    /* background-image: url(image/backgrnd.jpg); */
    padding:30px left 30px right;
    margin: 20px;
    margin-top:0;
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100vh;
    background-position: center center;
    flex-wrap: wrap;
    padding:3px;
    
}
#mburia img{
    border-radius: 100%;
    margin-left: 40%;
    shadow
}
#mburia h1{
    text-align: center;
}
#mburia img:hover {
    background-color: black;
}
.container {
    display:flex;
    flex-direction: column;
    padding: 4px;
    align-items: center;

}

